h2 {
    margin-top: 10px;
    margin-bottom: 6px;
}

h1 {
    margin-bottom: 6px;
    margin-top: 4px;
}

a {
    color: #007020;
}

body {
    font-size: 16px;
}

.wokoProperties td {
  border: none;
}

.wokoProperty {
    padding-bottom: 8px;
}


#betHistory td {
    padding-right: 5px;
}

.betChoices td {
    padding: 4px;
}

.betChoices td.numCell {
    text-align: right;
    padding-left: 20px;
}

.betChoices th {
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
}

.betChoices tr {
    height: 30px;
}

.headerLogo {
    font-size: 46px;
}

#youT {
    color: #009900;
}

#betT {
    color: #000000;
}

#bangT {
    color: #009900;
}

#header-space {
    padding: 8px;
    height: 42px;
    background: #cccccc; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#fff'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#fff)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #cccccc, #fff); /* for firefox 3.6+ */
}

#searchBox {
    position: absolute;
    right: 6px;
    top: 8px;
}

#logo a {
    text-decoration: none;
}

#logo span.dijitButton {
    position: absolute;
    top: 14px;
    left : 180px;
}

#authInfo {
    position: absolute;
    top: 44px;
    right: 6px;
    font-size: 12px;
}

.wokoObjectLinks {
    float: right;
    margin-top: 8px;
}

ul.wokoObjectLinks  {
    padding: 0;
    margin-top: 10px;
}


.wokoObjectLinks li {
    list-style-type: none;
}


#content-wrap {
    width: 800px;
    margin: auto
}

#content h1 {
    padding-top: 10px;
    font-size: 24px;
    padding-bottom: 8px;
}

#wokoMessages, .messages {
    padding: 4px;
    border: 1px solid #99ff99;
    background-color: #DDFFDD;
    color: green;
    font-size: 12px;
}

#wokoMessages li {
    font-size: 12px;
    list-style-type: none;
}

#wokoMessages ul {
    margin: 0px;
}

.help {
    margin: 6px;
    padding: 8px;
    border: 1px solid #ffff99;
    background-color: #ffffcc;
    -moz-border-radius: 6px;
}

#rightCol {
    float: right;
}

.wokoObject {
    border: none;
    -moz-border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    background: #cccccc; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#eee'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fff, #eee); /* for firefox 3.6+ */
}

.errorsContainer {
    padding: 4px;
    border-top: 1px solid #990000;
    border-bottom: 1px solid #990000;
    background-color: #ffcccc;
    color: #660033;
    font-size: 12px;
    width: 100%;
}

.errorsContainer ul {
    margin: 0px;
}

input.error, input.dojoLike.error {
    border: 1px solid #990000;
    background-color: #ffff00;
}

input.dojoLike {
    padding: 1px 2px;
    font-size: 16px;
    background-color: white;
    border: 1px solid #B5BCC7;
}

input.dojoLike:hover {
    background-color: #E9F4FE;
    border: 1px solid #769DC0;
    -moz-transition-duration: 0.25s;
}

input.dojoLike:focus {
    border: 1px solid #769DC0;
}

.negative {
    color:red;
}

.positive {
    color:#008000;
}

.zero {
    color: black;
}

.wokoObjectTitle {
    color: #007020;
}

.badChoice {
    background-color: #ffdddd;
    font-style: italic;
    color: #808080;
}

.goodChoice {
    background-color: #ccffcc;
}

.goodChoice .positive {
    font-weight: bold;
    font-size: 1.2em;
}

.ajaxLoader {
    background: url('../images/ajax-loader.gif');
    height: 20px;
    width: 20px;
}

.ajaxLoaderBig {
    background: url('../images/ajax-loader-big.gif');
    height: 32px;
    width: 32px;
    margin: 12px;
}

.prettyDate {
    padding: 2px;
}

.activity {
    margin-left: 8px;
}

.betOptions {
    margin-left: 8px;
}

#betHistoryFragment div {
    padding-top: 2px;
}

claro .dijitTabContainerTop-tabs .dijitTabInnerDiv,
.claro .dijitTabContainerTop-tabs .dijitTabContent,
.claro .dijitTabContainerTop-tabs .dijitTab,
.claro .dijitTabContent,
.claro .dijitTabChecked .dijitTabInnerDiv {
        border-radius: 8px 8px 0px 0px;
        -moz-border-radius: 8px 8px 0px 0px;
}

.claro .dijitTabPaneWrapper,
.claro .dijitTabContainerTop-tabs,
.claro .dijitTabContainerBottom-tabs,
.claro .dijitTabContainerLeft-tabs,
.claro .dijitTabContainerRight-tabs,
.dijitTabPane, .dijitStackContainer-child, .dijitAccordionContainer-child {
       border-radius: 0 0 8px 8px;
        -moz-border-radius: 0 0 8px 8px;
}

.dijitTitlePane {
    border-radius: 8px 8px 8px 8px;
     -moz-border-radius: 8px 8px 8px 8px;
    border: 1px solid #B5BCC7;
}

.claro .dijitTitlePaneTitle {
  background-color: #EFEFEF;
  background-repeat: repeat-x;
  border: 1px solid #B5BCC7;
  min-height: 17px;
  padding: 0 7px 3px;
}

.claro .dijitButton .dijitButtonNode, .claro .dijitDropDownButton .dijitButtonNode, .claro .dijitComboButton .dijitButtonNode, .claro .dijitToggleButton .dijitButtonNode {
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  padding: 4px;
}

#editButtons {
    margin-bottom: 8px;
}
